//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	width: 100%;
	display: block;
	padding: rem(24) rem(30);
	border: 1px solid #eee;
	border-radius: 15px;
	background: #FFF;

	color: #878787;
	font-family: Gilroy;
	font-size: rem(18);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	&:focus {
		box-shadow: 0 0 10px #73A56C;
	}
	&.blue:focus {
		box-shadow: 0 0 10px #0046A2;
	}

	&._form-error {
		box-shadow: 0 0 10px red;
	}
}

textarea.input {
	resize: none;
	padding: rem(20) rem(30);
	min-height: rem(200);
}

label[data-hidden] {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}