.section-about {
	margin-top: rem(100);
}

.about {
	&__container {
		@media (max-width:$mobile) {
			padding: 0;
		}
	}

	&__title {
		margin-bottom: rem(-12);
		padding-top: rem(24);
		padding-left: rem(70);
		padding-right: rem(95);
		background: #E8E8E8;
		width: fit-content;
		max-width: rem(500);
		border-radius: rem(30) rem(30) 0 0;

		&::before {
			display: none;
		}

		@media (max-width:$mobile) {
			margin: 0 auto rem(-12);
			padding: rem(20) rem(56) 0;
			@include adaptiveValue("font-size", 45, 35, 767.98, 400, 1);
			border-radius: rem(20) rem(20) 0 0;

			&::before,
			&::after {
				width: rem(21);
				height: rem(21);
			}

			&::before {
				display: block;
				left: rem(-20);
			}

			&::after {
				display: block;
				right: rem(-20);
			}
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		background: #E8E8E8;
		border-radius: 0 rem(35) rem(35) rem(35);
		@include adaptiveValue("gap", 30, 20, $containerWidth, 600, 1);
		@include adaptiveValue("padding-top", 55, 18, $containerWidth, 600, 1);
		@include adaptiveValue("padding-right", 70, 20, $containerWidth, 600, 1);
		@include adaptiveValue("padding-bottom", 100, 50, $containerWidth, 600, 1);
		@include adaptiveValue("padding-left", 70, 20, $containerWidth, 600, 1);

		@media (max-width:$mobile) {
			flex-direction: column-reverse;
			border-radius: rem(20);
		}

		@media (max-width:$mobileSmall) {
			padding-bottom: rem(15);

		}
	}

	&__subtitle {
		color: $subTitleColor;
		@include adaptiveValue("font-size", 25, 18, $containerWidth, 400, 1);
		font-weight: 700;
	}

	&__content {
		flex: 1 1 50%;

		@media (max-width:$mobileSmall) {
			transition: padding .5s ease-in-out;

			&._active {
				padding: 0 0 rem(30);
			}
		}
	}

	&__text-block {
		position: relative;
		margin-top: rem(18);
		@include adaptiveValue("font-size", 16, 14, $containerWidth, 400, 1);
		font-weight: 500;
		transition: height .6s ease-in-out;

		p:not(:last-child) {
			margin-bottom: rem(20);
		}

		@media (max-width:$mobileSmall) {
			height: 100px;
			overflow: hidden;

			&._visible {
				&::after {
					opacity: 0;
				}
			}

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: rem(-10);
				width: 100%;
				height: rem(80);
				background: linear-gradient(180deg, rgba(#E8E8E8, .4) , #E8E8E8 85%);;
				transition: opacity .5s ease;
			}
		}
	}

	&__image-wrpapper {
		flex: 1 1 50%;
		border-radius: rem(20);
		overflow: hidden;
		background-image: url(@img/about.jpg);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: cover;
		aspect-ratio: 500/350;
		max-height: rem(400);
	}
}