//====================================================================================================
body[style*="padding-right: 17px"] {
	.header {
		right: 17px;
	}
}

.header {
	position: absolute;
	z-index: 50;
	top: rem(35);
	left: 0;
	right: 0;
	transition: top 1s ease-in-out;
	
	&._header-scroll{
		top: -200%;
		position: fixed;
	}
	
	&._header-show {
		top: rem(35);
	}
	@media (max-width:$mobile) {
		top: 0;
		border-radius: 0px 0px 20px 20px;
		background: #FFF;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		
		&._header-show {
			top: 0;
		}
	}
	
	.phone-link {
		@media (max-width:$mobileSmall) {
			display: none;
		}
	}
}
.header__ {
	&menu {
		display: flex;
		padding: rem(22);
		@include adaptiveValue("padding-top", 22, 15, $containerWidth, 320, 1);
		@include adaptiveValue("padding-bottom", 22, 15, $containerWidth, 320, 1);
		@include adaptiveValue("padding-right", 70, 40, $containerWidth, 767.98, 1);
		@include adaptiveValue("padding-left", 70, 40, $containerWidth, 767.98, 1);
		border-radius: 15px;
		background: #FFF;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);

		.logo-wrapper {
			position: relative;
			z-index: 2;
			@include adaptiveValue("width", 100, 80, $containerWidth, 767.98, 1);

			.logo-img {
				width: 100%;
			}
		}

		@media (max-width:$mobile) {
			padding-left: 0;
			padding-right: 0;
			box-shadow: none;
		}
	}
}

.menu {
	&__body {
		@include adaptiveValue("margin-right", 70, 35, $containerWidth, 900, 1);
		@include adaptiveValue("margin-left", 38, 25, $containerWidth, 900, 1);
		display: flex;
		align-items: center;
		@include adaptiveValue("max-width", 620, 400, $containerWidth, 767.98, 1);

		@media (max-width:$tablet) {
			max-width: none;
			position: fixed;
			
			z-index: 1;
			width: 100%;
			height: fit-content;
			max-height: 97%;
			left: 0;
			top: -200%;
			right: 0;
			bottom: 0;
			flex-direction: column;
			justify-content: center;
			padding: 0 rem(20);
			@include adaptiveValue("padding-top", 150, 50, $containerWidth, 320, 1);
			@include adaptiveValue("padding-bottom", 50, 20, $containerWidth, 320, 1);
			margin: 0 !important;
			gap: rem(20);

			border-radius: 0px 0px 20px 20px;
			background: #FFF;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

			transition: top .3s ease;

			.menu-open & {
				top: 0;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include adaptiveValue("column-gap", 40, 20, $containerWidth, 900, 1);
		row-gap: rem(10);

		@media (max-width:$tablet) {
			flex-direction: column;
			width: 100%;
			flex-wrap: nowrap;
			overflow-y: auto;
			row-gap: rem(20);
		}
	}

	&__item {
		text-align: center;
		@include adaptiveValue("font-size", 18, 15, $containerWidth, 900, 1);
		font-weight: 600;

		@media (max-width:$tablet) {
			@include adaptiveValue("font-size", 18, 16, 991.98, 320, 1);
		}
	}

	&__list-socials {
		display: none;

		@media (max-width:$tablet) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: rem(25);
		}
	}

	&__phone-icon {
		svg {
			width: 100%;
		}
	}
}
//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(36);
		height: rem(26);
		cursor: pointer;
		z-index: 5;
		transition-duration: 0.5s;

		span,
		&::before,
		&::after {
			content: "";
			transition: 0.3s ease 0s;
			transition-property: transform, top, bottom, width;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			background-color: $mainColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(2));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}

			// Конец анимации
		}
	}
}