.section__hero {}

.hero-slide__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width:$mobile) {
		flex-direction: column-reverse;
		justify-content: flex-end;

		@include adaptiveValue("padding-top", 160, 110, 767.98, 320, 1);
	}
}

.hero__ {

	&slider {
		position: relative;
	}


	&wrapper {}


	&slide {
		position: relative;
		display: flex;
		z-index: 1;
		padding-bottom: rem(100);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: #E8E8E8;
		
		@media (max-width:$mobile) {
			border-radius: 0 0 20px 20px;
			overflow: hidden;
			padding-bottom: rem(72);
		}
		&--1 {
			background-image: url(@img/hero/1-bg.png);
		}
		&--2 {
			background-image: url(@img/hero/2-bg.png);
		}
		&--3 {
			background-image: url(@img/hero/3-bg.png);
		}
	}

	&left {
		margin-left: rem(70);
		position: relative;
		height: 100%;
		padding-top: max(rem(150), 25.466667vh);
		/* 191/750 */
		z-index: 3;

		@media (max-width:$mobile) {
			padding-top: 0;
			margin-left: 0;
			@include adaptiveValue("margin-top", 40, 20, 767.98, 320, 1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: rem(182);
			height: fit-content;
		}
	}

	&title {
		max-width: rem(480);
		margin-bottom: rem(90);
		color: $titleColor;
		font-family: Gilroy;
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("margin-bottom", 90, 35, $containerWidth , 767.98, 1);
		@include adaptiveValue("font-size", 50, 30, $containerWidth , 767.98, 1);

		@media (max-width:$mobile) {
			text-align: center;
			// min-height: rem(120);
			@include adaptiveValue("max-width", 550, 250, 767.98, 320, 1);
			@include adaptiveValue("font-size", 40, 20, 767.98 , 320, 1);
		}
	}


	&button {
		margin: 0;
		border-radius: 15px;
		background: linear-gradient(88deg, #0041A4 3.4%, #00A386 98.93%);
		box-shadow: 0px 10px 50px 0px rgba(0, 221, 185, 0.25);

		transition: .3s ease;
		transition-property: transform, box-shadow;

		&:hover {
			transform: scale(1.01);
			box-shadow: 0px 10px 50px 10px rgba(0, 221, 185, .5);
		}

		@media (max-width:$mobile) {
			margin: 0 auto;
		}
	}

	&right {
		margin-right: rem(70);
		width: rem(468);
		height: 100%;
		display: flex;
		position: relative;
		flex-direction: column;
		padding-top: clamp(rem(180), 25.466667vh, 26vh);

		// justify-content: center;
		@media (max-width:$mobile) {
			margin-right: 0;
			padding-top: 0;
			height: fit-content;
			@include adaptiveValue("width", 380, 208, 767.98, 320, 1);
		}

		.rectangle {
			position: absolute;
			z-index: 5;
			bottom: -101px;
			left: 0px;
			right: 0;
			height: auto;
			aspect-ratio: 468/100;
			background-image: url("data:image/svg+xml,%3Csvg width='468' height='100' viewBox='0 0 468 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.000943184L0.496839 0C0.496839 0 81.2469 100 233.622 100C385.997 100 466.747 0 466.747 0L468 0.0020342V100.002L0 100.001V0.000943184Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: contain;

			&::before,
			&::after {
				content: '';
				position: absolute;
				z-index: 100;
				bottom: 0;
				top: 0;
				height: 100px;

				background: #fff;
			}

			&::after {
				content: '';
				width: 30vw;
				right: calc(-30vw + 2px);
				border-top-left-radius: 2px;
			}

			&::before {
				content: '';
				width: 55vw;
				left: calc(-55vw + 2px);
				border-top-right-radius: 2px;
			}

			@media (max-width:$mobile) {
				display: none;
			}
		}

	}

	&image-wrapper {
		margin: 0 auto;
		box-sizing: border-box;
		width: 96.153846%;
		/* 450/468 */
		height: auto;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		position: relative;
		z-index: 2;

		@media (max-width:$mobile) {
			width: 100%;
		}

		.hero__img {
			object-fit: contain;
			position: absolute;
			width: 112.222222%;
			/* 505/450 */
			left: 0;
			bottom: 0;
			z-index: 3;

			&--2 {
				left: auto;
				// left: 4.395604%; /* 20/455 */
				right: 0;
				width: 104.444444%;
				/* 470/450 */
			}

			&--3 {
				width: 100%;
				right: 0;
			}
		}

		.hero__circle-box {
			position: absolute;

			--position: -76.222222%;
			// 76.222222%; /* 343/450 */
			position: absolute;
			top: var(--position);
			left: var(--position);

			width: 252.222222%;

			/* 1135/450 */
			pointer-events: none;
			aspect-ratio: 1 / 1;
			height: auto;
			display: flex;

			.circle {
				position: absolute;
				z-index: 1;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				border: 2px solid #fff;
				animation-duration: 16s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				aspect-ratio: 1 / 1;

				animation-name: circle1Animation;

				@media (max-width:$mobile) {
					animation-name: circle1Animation-2;
				}

				// --min-width: 38%
				width: 38%;

				&-1 {
					// width: 100%;
					animation-delay: 0s;
				}

				&-2 {
					// width: 74.889868%;
					animation-delay: 4s;
				}

				&-3 {
					// width: 57.21831%;
					/* 650/1136 */
					animation-delay: 8s;
				}

				&-4 {
					animation-delay: 12s;
				}
			}
		}
	}


	&slider-navigation-wrapper {
		z-index: 10;
	}

	&slider-fraction {}

	&slider-fraction--current {}

	&slider-fraction--max {}

	&bg {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;

		@media (max-width:$mobile) {
			display: none;
		}
	}
}

@keyframes circle1Animation {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3);
	}
}

@keyframes circle1Animation-2 {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(2);
	}
}

.hero-navigations__container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20vh;
	/* 150/750 */

	@media (max-width:$mobile) {
		bottom: rem(25);
		display: flex;
		justify-content: center;
	}

	.hero__slider-navigation-wrapper {
		margin-left: rem(70);

		position: relative;
		height: rem(22);
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: rem(270);
		width: fit-content;
		column-gap: rem(22);

		@media (max-width:$mobile) {
			margin-left: 0;
		}

		.swiper-pagination-bullet {
			width: rem(51);
		}
	}

	.hero__slider-fraction {
		text-align: center;
		font-size: rem(18);
		font-weight: 700;
	}
}