.section-partners {
	margin-top: rem(-62);
	@media (max-width:$mobileSmall){
		 margin-top: rem(50); 
	}
}


.partners__ {
	&title {
		margin: 0 auto;
		margin-bottom: rem(-12);
		width: fit-content;
		padding-top: rem(25);
		padding-left: rem(40);
		padding-right: rem(40);
		background: #fff;
		border-radius: rem(30) rem(30) 0 0;

		&::after {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.96875 0H0V31H31V30.0312C14.4315 30.0312 0.96875 16.5685 0.96875 0Z' fill='%23ffffff'/%3E%3C/svg%3E");
		}

		&::before {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.0312 0H31V31H0V30.0312C16.5685 30.0312 30.0312 16.5685 30.0312 0Z' fill='%23ffffff'/%3E%3C/svg%3E");
		}
		@media (max-width:$mobile) {
			padding: rem(20) rem(32) 0;
			@include adaptiveValue("font-size", 45, 35, 767.98, 400, 1);
			border-radius: rem(20) rem(20) 0 0;

			&::before,
			&::after {
				width: rem(11);
				height: rem(11);
			}

			&::before {
				display: block;
				left: rem(-10);
			}

			&::after {
				display: block;
				right: rem(-10);
			}
		}

		@media (max-width:$mobileSmall) {
			padding: 0;
			margin-bottom: rem(0);
			@include adaptiveValue("font-size", 45, 35, 767.98, 400, 1);

			&::before,
			&::after {
				display: none;
			}
		}
	}

	&main-wrapper {
		background: #fff;
		@include adaptiveValue("padding-top", 78, 58, $containerWidth, 479.98, 1);
		padding-bottom: rem(100);
	}

	&grid-box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include adaptiveValue("gap", 30, 20, $containerWidth, 700, 1);

		@media (max-width: em(600)){
			grid-template-columns: 1fr;
			grid-auto-rows: 1fr;

			margin: 0 auto;
			width: fit-content;
		}
	}

	&card {
		width: 100%;
		@include adaptiveValue("min-height", 260, 120, $containerWidth, 700, 1);
		@include adaptiveValue("padding", 60, 20, $containerWidth, 700, 1);

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 20px;
		background: #FFF;
		box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);

		svg {
			max-width: 100%;
		}

		@media (max-width: em(600)){
			padding: rem(44) rem(45);
		}
	}
}