.section__portfolio {
	margin-bottom: rem(102);
}

.portfolio__ {

	&container {
		@media (max-width:$mobile){
			 padding: 0; 
		}
	}

	&title {
		position: relative;

		z-index: 2;
		margin-bottom: rem(-53);
		padding-top: rem(22);
		padding-left: rem(70);
		padding-right: rem(116);
		@include adaptiveValue("padding-top", 30, 20, $containerWidth, 320, 1);
		@include adaptiveValue("padding-right", 116, 30, $containerWidth, 400, 1);
		@include adaptiveValue("padding-left", 70, 30, $containerWidth, 400, 1);
		background: #E8E8E8;
		width: fit-content;
		@include adaptiveValue("max-width", 500, 430, $containerWidth, 767.98, 1);
		border-radius: rem(30) rem(30) 0 0;

		&::before {
			display: none;
			bottom: rem(52);
		}

		&::after {
			bottom: rem(52);
			width: rem(30);
		}

		@media (max-width:$mobile) {
			box-sizing: content-box;
			margin: 0 auto rem(-53);
			text-align: center;
			@include adaptiveValue("font-size", 45, 35, 767.98, 400, 1);
			@include adaptiveValue("width", 273, 218, 767.98, 400, 1);
			border-radius: rem(20) rem(20) 0 0;
			margin-bottom: rem(-40);

			&::before,
			&::after {
				width: rem(11);
				height: rem(11);
				bottom: rem(40);
			}

			&::before {
				display: block;
				left: rem(-10);
			}

			&::after {
				display: block;
				right: rem(-10);
			}
		}
	}

	&main-wrapper {
		position: relative;
		padding: rem(101) rem(70) rem(97);
		background: $grayBg;
		overflow: visible;

		border-radius: 0 rem(35) rem(35) rem(35);
	}

	&slide-inner {
		display: flex;
		gap: rem(33);
		overflow: visible;
		padding: rem(101) rem(70) rem(116);
		@include adaptiveValue("padding-top", 101, 50, $containerWidth, 400, 1);
		@include adaptiveValue("padding-bottom", 100, 30, $containerWidth, 400, 1);
		@include adaptiveValue("padding-right", 70, 20, $containerWidth, 767.98, 1);
		@include adaptiveValue("padding-left", 70, 20, $containerWidth, 767.98, 1);
		background: $grayBg;

		border-radius: 0 rem(35) rem(35) rem(35);

		@media (max-width:$mobile) {
			@include adaptiveValue("padding-right", 70, 20, 767.98, 400, 1);
			@include adaptiveValue("padding-left", 70, 20, 767.98, 400, 1);
			padding-top: rem(60);
			border-radius: 10px 10px 35px 35px;


		}
	}

	&image-block {
		position: absolute;
		border-radius: 20px;
		width: 58%;
		/* 600/1030 */

		overflow: hidden;
		right: 0;
		top: 0;
		object-fit: contain;
		aspect-ratio: 6 / 5;

		@media (max-width: em(850)) {
			height: 100%;
		}

		@media (max-width: $mobile) {
			position: static;
			order: -1;
			width: auto;
			@include adaptiveValue("height", 522, 270, 767.98, 400, 1);

			margin-bottom: rem(82);

		}

		@media (max-width: em(400)){
			  width: 100% !important;
				height: auto !important;
		}

		img {
			width: 100%;
			object-fit: contain;

			@media (max-width: em(850)) {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&content {
		position: relative;
		padding-right: 60.08547%;

		@media (max-width: $mobile) {
			width: 100%;
			display: flex;
			flex-direction: column;
			padding-right: 0;
		}
	}

	&slide-title {
		color: $subTitleColor;
		@include adaptiveValue("font-size", 25, 18, $containerWidth, 1000, 1);
		font-weight: 500;
		margin-bottom: rem(10);
	}

	&text-block {
		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 14, $containerWidth, 1000, 1);
		font-weight: 400;
		transition: height .6s ease-in-out;
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 16, 14, 767.98, 400, 1); 
		}
		p:not(:last-child) {
			margin-bottom: rem(20);
		}

		@media (max-width:$mobileSmall){
			 overflow: hidden;
			 height: 100px;

			 &._visible {
				&::after {
					opacity: 0;
				}
			}

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: rem(-1);
				width: 100%;
				height: rem(80);
				background: linear-gradient(180deg, rgba(#E8E8E8, .4) , #E8E8E8 85%);
				transition: opacity .5s ease;
			}
		}
	}

	&navigation-wrapper {
		position: absolute;
		bottom: rem(10);
		left: rem(70);
		display: flex;
		justify-content: space-between;
		min-width: rem(330);
		@include adaptiveValue("bottom", 10, 20, $containerWidth, 767.98, 1);
		@include adaptiveValue("min-width", 330, 200, $containerWidth, 767.98, 1);
		@media (max-width: em(850)){
			  bottom: 0;
		}
		@media (max-width:$mobile){
			@include adaptiveValue("top", 680, 420, 768, 400, 1);
			 bottom: auto;
			 left: rem(20);
			 right: rem(20);
			 justify-content: center;
		}
		@media (max-width: em(400)){
			@include adaptiveValue("top", 440, 378, 400, 320, 1);
		}

		.swiper-button-prev,
		.swiper-button-next {
			transition: transform .3s ease;
			@include adaptiveValue("width", 65, 40, $containerWidth, 767.98, 1);

			svg {
				width: 100%;
			}

			&:hover {
				transform: scale(1.2);
			}

			@media (max-width:$mobile){
				 display: none; 
			}
		}

		.portfolio__pagination-wrapper {
			display: flex;
			color: #333132;
			font-size: rem(50);
			@include adaptiveValue("font-size", 50, 30, $containerWidth, 767.98, 1);
			font-weight: 700;
			line-height: 90.5%;
			letter-spacing: 0.5px;
			align-items: center;
			

			z-index: 10;
			@media (max-width:$mobile){
				 justify-content: space-between;
				 min-width: rem(280);
				 gap: rem(25);
				 @include adaptiveValue("font-size", 25, 18, 767.98, 400, 1);
			}

			> span {
				@media (max-width:$mobile){
					 display: none; 
				}
			}

			.portfolio__slider-fraction--current {
				font-size: rem(85);
				@include adaptiveValue("font-size", 85, 40, $containerWidth, 767.98, 1);

				@media (max-width:$mobile){
					@include adaptiveValue("font-size", 25, 18, 767.98, 400, 1); 
				}
			}

			.swiper-pagination {
				display: none;
				@media (max-width:$mobile){
					 display: flex;
					 align-items: center;
				}
			}
		}
	}
}

.portfolio__slider.swiper {
	@include adaptiveValue("padding-bottom", 140, 50, $containerWidth, 767.98, 1);
	position: relative;

	@media (max-width:$mobile) {
		padding-bottom: rem(40);
	}

	.read-more__btn {
		bottom: rem(-60);
	}
}