.section__services {
	margin-top: rem(100);
}

.services__ {

	&main-wrapper {
		background: #E8E8E8;
		@include adaptiveValue("padding-top", 60, 34, $containerWidth, 400, 1);
		@include adaptiveValue("padding-bottom", 162, 62, $containerWidth, 479.98, 1);
		@media (max-width:$mobile){
			 border-radius: 11px 11px 0 0 ;  
		}
		@media (max-width:$mobileSmall){
			 border-radius: 11px 11px 20px 20px;
			 padding-bottom: 0; 
		}
	}

	&title {
		margin: 0 auto rem(-12);
		width: fit-content;
		padding-top: rem(25);
		padding-left: rem(78);
		padding-right: rem(78);
		background: #E8E8E8;
		border-radius: rem(30) rem(30) 0 0;

		@media (max-width:$mobile) {
			padding: rem(20) rem(32) 0;
			@include adaptiveValue("font-size", 45, 35, 767.98, 400, 1);
			border-radius: rem(20) rem(20) 0 0;

			&::before,
			&::after {
				width: rem(11);
				height: rem(11);
			}

			&::before {
				display: block;
				left: rem(-10);
			}

			&::after {
				display: block;
				right: rem(-10);
			}
		}
	}

	&slider {
		padding: rem(2);
		@media (max-width: em(837)) {
			margin: 0 auto;
			max-width: rem(570);
		}

		@media (max-width: em(610)) {
			max-width: rem(270);
		}
	}

	&wrapper {}

	&slide {
		min-height: rem(500);
		z-index: 3;
		display: block;

		border-radius: 20px;
		overflow: hidden;
		position: relative;
		inset: 0;
		border: 1px solid transparent;

		&::before,
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}

		&::after {
			z-index: 1;
			background-color: #73A56C;
			transition: .3s ease;
			transition-property: background-color;
		}

		&::before {
			z-index: 3;
			background: linear-gradient(180deg, rgba(0, 102, 255, 0.00) 25%, rgba(0, 102, 255, .3) 55%, rgba(0, 102, 255, .3) 60%, rgba(#000, 1) 100%);
		}

		&:hover, &:focus-within {

			.services__link {
				bottom: 0;
			}

			.services__slide-img {
				filter: grayscale(0%);
				opacity: .6;
			}

			&::after {
				background-color: #06F;
			}

			.services__arrow {
				transform: rotate(180deg);
			}
		}
	}

	&arrow {
		position: absolute;
		z-index: 6;
		bottom: rem(60);
		left: calc(50% - rem(12));
		width: rem(24);
		height: rem(14);

		transition: transform .3s ease;
	}

	&slide-content {
		position: relative;
		z-index: 3;
		margin: rem(177) rem(20) rem(20);
		gap: rem(46);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	&slide-img {
		display: block;
		position: absolute;
		inset: 0;
		z-index: 2;
		object-fit: cover;
		object-position: 50% 30%;
		filter: grayscale(80%);
		opacity: .6;

		transition: .3s ease;
		transition-property: opacity, filter;
	}

	&icon-box {
		width: rem(80);
		height: rem(83);

		display: flex;
		align-items: center;
		justify-content: center;
	}


	&text {
		color: #FFF;
		text-align: center;
		// @include adaptiveValue("font-size", 16, 14, $containerWidth, 400, 1);
		font-size: rem(20);
		font-weight: 700;
		line-height: 111.167%;
		/* 22.233px */
	}

	&link {
		position: absolute;
		z-index: 5;
		left: 0;
		bottom: -50%;
		width: 100%;
		height: 42.2%;
		/* 211/500 */
		right: 0;
		border-radius: 100px 100px 0 0;
		background: #06F;
		transition: .3s ease;
		transition-property: bottom;
		padding: rem(60) rem(20) rem(30);

		color: #FFF;
		text-align: center;
		font-size: rem(25);
		font-weight: 700;
		line-height: 100%;
	}
}

.services__slider {
	&-navigation-wrapper {
		position: relative;
		margin-top: rem(30);
		height: rem(22);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(22);
		@media (max-width:$mobile){
			 margin-bottom: rem(30); 
		}
		@media (max-width: em(600)){
			justify-content: space-between;
			gap: rem(10);
			  
		}

	}
	&-navigation-wrapper.lock{
		display: none;
	}
	&-fraction {
		text-align: center;
		font-size: rem(18);
		font-weight: 700;
	}
}
.services__link:focus {
	transition: none;	
}